<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: inline-grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            column-gap: 5px;
            row-gap: 5px;
            border: 4px solid rgb(196, 196, 240);
            grid-template-areas: 
            "header header header header"
        }
        .input {
            grid-area: header;
        }

        .flex {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="flex">
<div class="container">
  <div class="input" id="input"></div>
  <div><button id='subtr' class="subtr">/</button></div>
  <div><button id='multi' class=" multi">x</button></div>
  <div><button id='deduc' class="deduc">-</button></div>
  <div><button id='add' class="add">+</button></div>
  <div><button id='equal' class="equal">=</button></div>
  <div><button id='delete' class="delete">del</button></div>
  <div><button class="one button">1</button></div>
  <div><button class="two button">2</button></div>
  <div><button class="three button">3</button></div>
  <div><button class="four button">4</button></div>
  <div><button class="five button">5</button></div>
  <div><button class="six button">6</button></div>
  <div><button class="seven button">7</button></div>
  <div><button class="eight button">8</button></div>
  <div><button class="nine button">9</button></div>
  <div><button class="zero button">0</button></div>
</div>
</div>
<script src="static\js\calcu.js"></script>
</body>
</html>