{% extends 'mainpage.html' %}

{% block title %}
Видосики
{% endblock %}

{% block body %}
  <body>
    <div class="container my-5">
          <div class="row-card">
            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>
              
            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>

            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>

            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>

            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>

            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>
            <div class="card" style="width: 18rem">
              <img
                src="https://picsum.photos/id/10/400"
                class="card-img-top"
                alt="image"
              />
              <div class="card-body">
                <h5 class="card-title text-al">Название ролика???</h5>
                <!-- <p class="card-text text-al">
                  описание к видео????
                </p> -->
                <a href="https://picsum.photos/id/10/1500" class="btn btn-secondary text-al">link</a>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>
{% endblock %}